@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jaro:opsz@6..72&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rye&display=swap');

html body{
    margin:0;
}


.rye {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
}  


.image{
    background-position:center;
    background-size:cover;
    background-position-y: top;
}


.computer{
    border-style:solid;
    border-width:8px;
    border-radius:20px;
    height:772px;
    margin:0 8px;
}


.me{
    background-image: url("assets/me.png");
    height:300px;

}


.music_database{
    background-image: url("assets/music_database.png");
}


.pokedex{
    background-image: url("assets/pokedex.png");
}


.travel_city{
    background-image: url("assets/travel_city.png");
}
  