@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jaro:opsz@6..72&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rye&display=swap');

html body{
    margin:0;
}


.rye {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
}  


h1{
    font-size: 70px;
    color:white;
}

h2{
    font-size:45px;
}

h3{
    font-size:30px;
}


p{
    text-align:center;
}


.image{
    background-position:center;
    background-size:cover;
    background-position-y: top;
}

#nav{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    height:70px;
    width: 100%;
    position:sticky;
    top:0;
    background-color:black;
}

.nav_child{
    height:100%;
    display:flex;
    align-items:center;
}

.nav_child a{
    color:white;
    text-decoration: none;
}

.nav_child a:hover {
    color:white;
    text-decoration: underline;
}


#me{
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,1)), url("assets/me.png");
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.about{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    background-color:black;
}

.about_child{
    width:40%;
    padding:15px;
    border-radius:10px;
    color:white;
}


.project{
    display:flex;
    margin-bottom:20px;
}


.computer{
    border-style:solid;
    border-width:8px;
    border-radius:20px;
    margin:0 auto;
    width:70%;
    max-width:1398px;
    aspect-ratio: 1398 / 767;;
}

.download{
    display:none;
    color:white;
}

.music_database{
    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0)), url("assets/music_database.png");
}

    .music_database:hover {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("assets/music_database.png");
        display:flex;
        justify-content: center;
        align-items:center;
    }


    .music_database:hover .info {
        display:none;
    }


    .music_database:hover .download{
        display:block;
    }


.pokedex{
    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0)),url("assets/pokedex.png");
}


    .pokedex:hover {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("assets/pokedex.png");
        display:flex;
        justify-content: center;
        align-items:center;
    }


    .pokedex:hover .info {
        display:none;
    }


    .pokedex:hover .download{
        display:block;
    }


.travel_city{
    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0)),url("assets/travel_city.png");
}


    .travel_city:hover {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("assets/travel_city.png");
        display:flex;
        justify-content: center;
        align-items:center;
    }


    .travel_city:hover .info {
        display:none;
    }


    .travel_city:hover .download{
        display:block;
    }


.form{
    display:flex;
    flex-direction:column;
}


.form_child{
    display:flex;
    flex-direction:column;
    margin-bottom:50px;
}


input{
    height:50px;
    width:700px;
    margin:0 auto;
}


#message{
    height:150px;
}


.buttons{
    display:flex;
    column-gap:40px;
    width:700px;
    margin:0 auto;
}


.buttons input{
    width:330px;
}

.footer{
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    height:30px;
    color:white;
    margin-top:40px;
}

@media only screen and (max-width: 600px) {
    /* body {
      /* background-color: lightblue;
    } */
  }